* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f4f4f9;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}
header {
  background-color: #00458b;
  color: white;
  padding: 20px 10%;
  text-align: center;
}
.tab {
  overflow: hidden;
  background-color: #333;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  width: 20%;
}
.tab button:hover {
  background-color: #007bff;
}
.tab button.active {
  background-color: #0056b3;
}
.tabcontent {
  display: none;
  padding: 20px 10%;
  border-top: none;
}
.fg--search {
  position: relative;
  width: 300px;
  margin-top: 8px;
  display: inline-block;
}
.fg--search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
.fg--search button {
  background: #00458b;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
